@use '@angular/material' as mat;
@use 'commons/variables' as var;

:host {
  display: block;
  height: 100vh;

  .mat-sidenav-container {
    height: 100%;
  }

  .header {
    @include mat.elevation(0);
    @include mat.elevation-transition();

    &--stickied {
      position: sticky;
      top: 0;
      z-index: 1;
      @include mat.elevation(12);
    }
  }

  .product {
    &__logo {
      height: 2em;
    }

    &__name {
      margin-left: 0.5em;
      padding: 0.25em 0.75em;
      background-color: mat.get-color-from-palette(var.$primary-palette, 500);
      color: mat.get-color-from-palette(var.$primary-palette, 500-contrast);
      font-size: x-small;
    }
  }
}
